<!-- Header -->
    <header class="bg-primary text-white py-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h3 mb-0">Team Members Management</h1>

                {% with current_url_name=request.resolver_match.url_name %}

                <nav class="d-flex align-items-center gap-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'home'%} active-page {% endif %}" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'about-us'%} active-page {% endif %}" href="{% url 'about-us' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'contact-us' %}">Contact</a>
                        </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'create_team_member'%} active-page {% endif %}" href="{% url 'create_team_member' %}">Create Team Member</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'get_team_members'%} active-page {% endif %}" href="{% url 'get_team_members' %}">Team Members</a>
                        </li>
                    {% endif %}


                    {% if user.is_authenticated %}
                        {% comment %} User is Logged in {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'user_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        {% comment %} User is Logged out {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'user_login'%} active-page {% endif %}" href="{% url 'user_login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white {% if current_url_name == 'register_user'%} active-page {% endif %}" href="{% url 'register_user' %}">Register</a>
                        </li>
                    {% endif %}
                    {% endwith %}

                    </ul>

                    <button id="themeToggleBtn" class="btn btn-sm btn-outline-light" type="button">
                        <span id="themeToggleIcon">☀️</span>
                    </button>
                </nav>
            </div>
        </div>
    </header>