{% extends 'app/assets/base.html' %}

{% block mainBlock %}
    <h2>Create Team Member</h2>

    {% comment %}
        method="post" : allows the HTML form to send POST request to Django
    {% endcomment %}

    {% comment %}
        Since not action attribute used (no url defined),
        <form> will send POST request to the current page's url
        , for example create_team_member page url : http://localhost:8000/create-team-member/
        <form> will send request to : /create-team-member/
    {% endcomment %}
    <form method="post">
        {% comment %}
            Django requires us to add csrf_token - missing it will raise an error
            Its used by Django for security purpose
        {% endcomment %}
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>

         <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age" min="0" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock mainBlock %}